.collaboratorName {
	text-transform:none;
	font-size:1.5em;
	text-align:right;
	color:#fff;
	font-family: 'Titillium Web', sans-serif;
	font-weight:400;
}

.collaboratorDescription {
	/*margin-left:-10px;*/
	background-color:rgba(255,255,255,.25); 
	min-height:85px; 
	font-size:1em;
	color:#670028;
	text-align:left;
	padding:6px 13px 10px 18px;
	line-height:130%;
	position:relative;
}

.margina{
	position:relative;
	left:-20px;
}
